.banner{
  margin: 50px 0 70px 0;
}
.contenedor3{
  width: 83%;
  margin: auto;
}
h1, h4, button{
  font-family: 'Open Sans', sans-serif;
}
.entrada{
  text-align: center;
  border-bottom: 1px solid #282828;
  padding: 50px 0;
  margin: 50px 0;
}
button{
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #282828;
  color: #ddd60f;
  padding: 5px 10px;
  transition: .3s;
}
button:hover{
  font-size: 18px;
  transition: .3s;
}
