body{
  margin: 0;
}
.app{
  border: 1px solid #ddd60f;
  padding: 2px;
  color:inherit;
}

.contenedor2{
  width: 60%;
  margin: auto;
}
/*about*/
.about{
  margin-top: 50px;
}
.title_about{
  border-bottom: 1px solid #e1e1e1;
}
.title_about h2{
  margin: 0;
  color: #ddd60f;
  font-family: 'Open Sans', sans-serif;

}
.text_about p{
  color: #282828;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
.text_about a{
  color: #282828;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid #ddd60f;
}
.rer{
  border: none;
}
/*about*/

/*posts*/
.post_title{
  border-bottom: 1px solid #e1e1e1;
  margin-top: 50px;
}
.post_title h2{
  margin: 0;
  color: #ddd60f;
  font-family: 'Open Sans', sans-serif;
}
.posts{
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.posts a{
  text-decoration: none;
  height: 169px;
}
.post1, .post2, .post3{
  width: 149.844px;
}
.post1 figure, .post2 figure, .post3 figure{
  margin: 0 auto;
}
figure img{
  opacity: 0;
}
.b-loaded{
  transition: 2s;
  opacity: 1;

}
.post1 h5, .post2 h5, .post3 h5{
  color: #282828;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.post1 h6, .post2 h6, .post3 h6{
  color: #adb2b2;
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
}
/*posts*/

/*footer*/
.footer{
  text-align: center;
  border-top: 1px solid #e1e1e1;
}
.footer h6{
  margin-top: 25px;
  margin-bottom: 25px;
  color: #adb2b2;
  cursor: default;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
.footer a{
  text-decoration: none;
  color: #adb2b2;
  border-bottom: 1px dotted #ddd60f;


}
/*footer*/

/*RESPONSIVE DESIGN*/

@media screen and (max-width: 1024px){
  p{
    text-align: center;
  }
  .space{
    display: none;
  }
  .social{
    display: none;
  }
  .social2.active{
    transition: 1s;
    right: 0;
    display: flex;
    opacity: 1;
  }
  .lista a:hover{
    border-bottom: 0px solid #ddd60f;
  }
  .social2 a{
    font-size: 20px;
  }
  .posts{
    justify-content: space-around;
  }
  .post3{
    display:none;
  }
  .post1, .post2{
    width: 30%;
  }
  .post1 img, .post2 img{
    width: 100%;
  }
}
@media screen and (max-width: 768px){
  .post1, .post2{
    width: 40%;
  }
}
@media screen and (max-width: 600px){
  .letra_logo{
    left: 25px;
    top: -73px;
  }
  .lista{
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    transition: .3s;
    background-color: rgba(221, 214, 15, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
  }
  .active{
    left: 0;
    display: flex;
    flex-direction: column;
  }
  .social2{
    display: none;
    position: absolute;
    top: 45%;
    left: 39%;
  }
  .social2 a{
    font-size: 30px;
  }
  .burguermenu{
    visibility: visible;
    z-index: 5;
  }
  ul{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    position: relative;
    top: -100px;
  }
  .posts{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    flex-direction: column;
    vertical-align: middle;
  }
  .post1, .post2, .post3{
    width: auto;
    height: auto;
    display: block;
  }
  .post1 img, .post2, img, .post3 img{
    width: 100%;
    height: 100%;
  }
}
